html, body {
    height: 100%;
    /*width: 100%;*/
}
.content {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: darkgray;
}

.panelLayer {
    display: table-row;
}

.panelMap {
    height: 100%;
    display: table-row;
}

.panelOutput {
    display: table-row;
}

.panel-body {
    padding: 0;
}

.panel-fill {
    height: 100%;
    padding-bottom: 30px;
}
.panel-body-fill {
    height: 100%;
    padding: 0;
    padding-bottom: 56px;
}

.panelMargin {
    margin: 15px;
}

.panel-toolbar {
    background-color: #efefef;
    border-bottom: 0;
    padding: 5px 15px;
    line-height: 1.428571429;
    display: block;
    border-bottom:  1px solid #dcdcdc
}

.map {
    height: 100%;
}

.layersgridStyle {
    height: 91px; /*30px per row*/
}
.outputGridStyle{
    height: 151px; 
}

.lyrVisClass {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}